@tailwind base;
@tailwind components;
@tailwind utilities;
@import"https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap";@import"https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap";

body{
  /* font-family: "Playfair", serif; */
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fdfdfd;
}
.active{
  color: #3b82f6;
  width: 0;
}
ul li {
  position: relative;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #333;
  position: relative;
  padding-bottom: 5px; 
}

ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #3b82f6; 
  transition: width 0.3s ease; 
}

ul li a:hover::after,
ul li a.active::after {
  width: 100%; 
}

